.main-dev{
    display:flex;
    flex-direction: row;

}
.book-side{
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: gainsboro;
}
.author-side{
    display: flex;
    flex: 1;
    flex-direction: column;
}