.main-page{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
}
.main-box{
    width: 290px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
}
.top-container{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.8em;
    padding-bottom: 5em;
}
.back-drop{
    width: 160%;
    height: 550px;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    transform: rotate(60deg);
    top: -290px;
    left: -70px;
    background: rgb(41, 128, 185);
    background: linear-gradient(
      58deg,
      rgb(41, 128, 185) 20%,
      rgb(41, 128, 185) 100%
    );

}
.header-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
h2.header-text{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.24;
    color: #fff;
    z-index: 10;
    margin: 0;
    margin-top: 10;
}
h5.small-text{
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    z-index: 11;
    margin: 7px;
}
.inner-container{
    width:100%;
    display: flex;
    flex-direction:column;

}
/* Login-Form */
.box-container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:10;
}
form.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2.5px rgba(15, 15, 15, 0.19);
    padding: 20px;
}
a.muted-link{
    font-size: 11px;
    color: rgba(200, 200, 200, 0.8);
    font-weight: 500;
    text-decoration: none;
}
a.bold-link{
    font-size: 11px;
    color: rgb(41, 128, 185);
    font-weight: 500;
    text-decoration: none;
    margin: 0 4px;
}
input.login-input{
    width: 100%;
    height: 42px;
    outline: none;
    border: 1px solid rgba(200, 200, 200, 0.3);
    padding: 5px 10px;
    border-bottom: 1.4px solid transparent;
    transition: all 200ms ease-in-out;
    font-size: 12px;
    margin:10px 10px 10px 10px;
    text-align: right;
    direction: 'rtl';
}
button[type=submit].login-submit{
    width: 100%;
    padding: 11px 40%;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: rgb(41, 128, 185); 
    margin-top:20px
     
}
.login-input::placeholder {
    color: rgb(19, 4, 4);
}
.login-input:not(:last-of-type) {
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
}
.login-input:focus {
    outline: none;
    border-bottom: 2px solid rgb(41, 128, 185);
}
.login-submit:hover {
    filter: brightness(1.03);
}

.error-message {
    color: #bf1650;
  }
.error-message::before {
    display: inline;
    content: "⚠ ";
  }