.select{
    position: relative;
    width: 98%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 200, 0.3);
    text-transform: capitalize;
    color: black;
    background:white;
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
    direction: 'rtl';
}

.select::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: left;
    direction: 'ltr';
}

.select:hover{
    background: rgba(200, 200, 200, 0.3);;
}

.select.active{
    background: rgba(200, 200, 200, 0.3);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: fit-content;
    background: rgba(200, 200, 200, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
}

.options.active{
    display: block;
}

.options .item{
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    cursor: pointer;
}

.options .item.active{
    background: rgba(200, 200, 200, 0.3);
}