
#border-left{
  border-right: 2px solid black;
}
#tr-form{
  height: 100px;
  border: 2px solid black
}
.App-link {
  color: #61dafb;
}

.table-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.table-headerFrom{
  width: 30%;
  height: 20%;
  border: 2px solid black
}
#tr-border{
  border-bottom: 2px solid black;
  height: 30px;
}
#table-form{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center ;
}
#table-contain{
  border: 2px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  width: 1200px;
}
#th-Form-header{
  border-right: 2px solid black;
}

#grid-section{
  background-color: aqua;
  display: grid;
  grid-column-gap: 50px;
}
.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
#section-dashBord{
  background-color:ghostwhite;
  height: 100VH;

}
#img-log-report{
  width: 95px;
}
.table-style{
  display: flex;
  flex-direction: column;
  border: 2px solid gainsboro;
  margin: 10px 5px 5px 5px ;

}
.add-Report{
  display: flex; 
}
.table-show-data{
  padding: 20px;
}
#block1{
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
#block2{
  flex: 5;
  margin-top: 13px;
  padding: 20px;
}
.navbar-expand {
  flex-flow: row wrap !important;
  justify-content: flex-start;
}
#checkBoxMargin{
  margin-left: 20px;
}
#formControlWithOutBorder{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem ;
    font-size: 1rem ;
    font-weight: 400 ;
    color: #495057;

}
.custom-nav-bar{
  background:rgb(41, 128, 185) !important;
}